

<div class="LO_1_b_b_b cb">
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/b6_1.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/ba.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/banner1.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/demo1.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/demo2.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/fuwu1.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/logo.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/b6_1.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/ba.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/banner1.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/demo1.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/demo2.jpg'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/fuwu1.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<dl class="each">
		<dt>
			<a href="#"><img src="@{'public/images/nd/demo/logo.png'}" /></a>
		</dt>
		<dd>广州，会做饭，琴棋书画都会</dd>
	</dl>
	<div id="page-nav" class="text_c"
		style="position: absolute; bottom: 0; width: 100%;">
		<a href="2.html"><img src="@{'public/images/nd/loading.png'}" /></a>
	</div>
</div>

